@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata'), url(./assets/Inconsolata-Regular.ttf) format('truetype');
}

.font-inconsolata {
  font-family: 'Inconsolata';
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(255, 213, 220), rgb(190, 226, 238), white);
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

